<%- include("header") -%>

<main id="app-container">
  <div id="location">
         <p> <%= location %> </p>
  </div>

  <div id="temp">
    <img id="temp-icon" src= <%= image %> alt="Default">
    <p><span class="temp-value"> <%= temperature %> </span><span id="temp-unit">°C</span ></p>
      <span class ="temp-value"> <%= WDescription %> </span>
  </div>

</main>

  </body>

</html>
