<%- include("./partials/header") -%>

<section class="weather-section">
  <form id="search-form" action="/" method="post">
    <input type="search" name="cityName" id="search-input" placeholder="Enter City Name" required autocomplete="off">
    <br>
   <button type="submit" id="search-button">Search</button>
  
  </form>
<main id="app-container">

  
  <div id="location">
         <p> <%= location %> </p>
  </div>

  <div id="temp">
    <img id="temp-icon" src= <%= image %> alt="Default">
    <p><span class="temp-value"> <%= temperature %> </span><span id="temp-unit">°C</span ></p>
      <span class ="temp-value"> <%= WDescription %> </span>
  </div>

</main>
</section>
 </body>
<%- include("./partials/footer") -%>
 
